.u-text-center {
	text-align: center;
}

.u-text-left {
	text-align: left;
}

.u-text-right {
	text-align: right;
}

.u-text-color-inherit {
	color: inherit;
}

.u-text-large {
	font-size: 1.3em;
}

.u-text-primary {
	color: #BA3333;
}