.p-pageNav {
	@include pie-clearfix();

	margin-top: 3em;
	a {
		color: #999
	}
	&__prev,
	&__next {
		font-size: 1em;
	}

	&__prev {
		float: left;
		.fa-angle-left {
			transform:translate( -3%, -1%);
		}
	}

	&__next {
		float: right;
		.fa-angle-right {
			transform:translate( 3%, -1%);

		}
	}
}