
.p-search {
	padding-bottom: 20px;

	&__input,
	&__input[type="search"] {
		width: 100%;
		box-sizing: border-box;
		padding: 8px 10px;
		box-shadow: inset 0 0 0 rgba(0,0,0,.075);
		background-color: #fff;
		border: 1px solid #ccc;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

		&:focus {
			border-color: #66afe9;
			outline: 0;
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
		}
	}
}