.c-card {
	display: block;
	// border: 10px solid transparent;
	// border-image: image-url("border.png") 10;
	padding: 10px;
	margin: 10px 0;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-color: #f0f0f0 #e6e6e6 #dfdfdf;

		@media #{$medium-up} {
			padding: 15px;
			margin: 15px 0;

		}
		@media #{$large-up} {
			padding: 25px;
			margin: 20px 0;
		}

}
