.c-media {

	&__image,
	&__body {
		display: table-cell;
  		vertical-align: middle;
  		p {
  			margin-top: 0;
  			margin-bottom: 0.5em;
  		}
	}

	&__image {
		padding-right: 24px;
	}

	&__heading {
		margin-top: 0;
		text-align: left;
		margin-bottom: 8px;
	}
}