// @function image-uri($path: "") {
// 	@if compass-env() == 'development' {
// 		@return url("../src/images/" + $path);
// 	}
// 	@else {
// 		@return url("../images/" + $path);
// 	}
// }


@mixin fa () {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

@mixin pie-clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}