$ua-font-size: 16px;
$root-font-size: 10px;

$gutter-small: 20px;
$gutter: 20px;


// Media Queries
$screen-small-min: 567px;
$screen-medium-min: 768px;
$screen-large-min: 1000px;
$screen-xlarge-min: 1400px;

$screen-small-max: $screen-medium-min - 1px;
$screen-medium-max: $screen-large-min - 1px;
$screen-large-max: $screen-xlarge-min - 1px;

$screen: "only screen" !default;

$small-up: "#{$screen} and (min-width:#{$screen-small-min})" !default;
$small-only: "#{$screen} and (min-width:#{$screen-small-min}) and (max-width:#{$screen-small-max})" !default;

$medium-up: "#{$screen} and (min-width:#{$screen-medium-min})" !default;
$medium-only: "#{$screen} and (min-width:#{$screen-medium-min}) and (max-width:#{$screen-medium-max})" !default;

$large-up: "#{$screen} and (min-width:#{$screen-large-min})" !default;
$large-only: "#{$screen} and (min-width:#{$screen-large-min}) and (max-width:#{$screen-large-max})" !default;

$xlarge-up: "#{$screen} and (min-width:#{$screen-xlarge-min})" !default;
$xlarge-only: "#{$screen} and (min-width:#{$screen-xlarge-min})" !default;