@charset "UTF-8";


@import "_setting";
@import "_mixin";
@import "../../../node_modules/inuit-normalize/generic.normalize";
@import "foundation/base";

@import "layout/row";
@import "layout/WPHeader";
@import "layout/navbar";

@import "layout/main";
@import "layout/grid";

@import "object/component/btn";
@import "object/component/card";
@import "object/component/media";
@import "object/component/slidemenu";



@import "object/project/nav";
@import "object/project/search";
@import "object/project/menu";
@import "object/project/breadcrumbs";
@import "object/project/postList";
@import "object/project/article";
@import "object/project/plugin";
@import "object/project/bookmarks";
@import "object/project/pageNav";
@import "object/project/ad";
@import "object/project/_commentArea.scss";

@import "object/project/_commentList.scss";

@import "object/project/_socialProfile.scss";


@import "object/utility/text";
@import "object/utility/visible";
@import "object/utility/align";



.dashicons,
.dashicons-before:before {
	font-size: 1em;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	position: relative;
	top: -0.1em;
}

.grav-clone-a img {
	border-width: 2px !important;
}


.twitter-tweet-rendered,
.fb_iframe_widget:not(.fb-like) {
	display: table !important;
	margin: 1.2em auto !important;
}


