
.l-grid {
	//Grid Row.
	// @include display-flex;
	// @include flex-direction(row);
	// @include flex-wrap(wrap);
	// @include flex-flow(row wrap);
	@include pie-clearfix();
	margin-left: -1 * $gutter-small / 2;
	margin-right: -1 * $gutter-small / 2;

	@media #{$medium-up} {
		margin-left: -1 * $gutter / 2;
		margin-right: -1 * $gutter / 2;
	}



	&__u {

		box-sizing: border-box;
		float: left;
		padding: 0 $gutter-small / 2;

		&_right {
			float: right;
		}

		@media #{$medium-up} {
			padding: 0 $gutter / 2;
		}

		&_small {
			@for $i from 1 through 12 {
				&-#{$i} {
					width: percentage($i/12);
				}
			}
		}
		@media #{$medium-up} {

			&_medium {
				@for $i from 1 through 12 {
					&-#{$i} {
						width: percentage($i/12);
					}
				}
			}
		}
		@media #{$large-up} {

			&_large {
				@for $i from 1 through 12 {
					&-#{$i} {
						width: percentage($i/12);
					}
				}
			}
		}
	}

	&_noGutter {
		padding-left: $gutter-small / 2;
		padding-right: $gutter-small / 2;

		@media #{$medium-up} {
			padding-left: $gutter / 2;
			padding-right: $gutter / 2;
		}
	}

	&_noGutter &__u {
		padding: 0;
	}

}

